---
import Layout from "@layouts/Layout.astro";
---

<Layout title="ID Construcciones">
  <main class="flex items-center justify-center w-full h-full">
    <h1 class="block font-bold text-4xl text-slate-700">En construcción</h1>
  </main>
</Layout>
