---
import Contact from '@/components/Contact.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Services from '@/components/Services.astro'
import Summary from '@/components/Summary.astro'
import Layout from '@/layouts/Layout.astro'
import SITE from '@/data/SITE'
import About from '@/components/About.astro'

const { title, description } = SITE
---

<Layout {title} {description}>
  <Header />
  <main class='mx-auto space-y-10'>
    <Summary />
    <div
      class='bg-blue-50 w-12 h-8 mx-auto [clipPath:polygon(0_0,100%_0,50%_100%)]'
    >
    </div>
    <Services />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>

<script>
  const sections = document.querySelectorAll('section')
  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fade-in-right')
          observer.unobserve(entry.target)
        }
      })
    },
    {
      threshold: 0.1,
    }
  )

  sections.forEach((el) => {
    observer.observe(el)
  })
</script>
