---
import ContactInput from "./ContactInput.astro";
import Title from "@/components/Title.astro";
---

<section id="contacto" class="py-4 md:py-10 opacity-0">
  <Title h="h2" class="font-bold">Contáctanos</Title>
  <form class="grid gap-4 md:grid-cols-2 md:gap-8">
    <ContactInput id="1" label="Nombre" placeholder="" />
    <ContactInput id="2" label="Compañía" placeholder="" />
    <ContactInput id="2" type="email" label="Email" placeholder="" />
  </form>
</section>
