---
import Logo from "./icons/Logo.astro";
import Nav from "./Nav.astro";
---

<header class="max-w-[1000px] mx-auto mb-10 px-4">
  <nav class="py-4 gap-4 relative flex justify-between items-center">
    <a
      class="shrink-0 block w-24 hover:scale-105 transition-transform duration-150"
      href="/"><Logo /></a
    >

    <div class="">
      <Nav />
    </div>
  </nav>
</header>
