---
import Title from '@/components/Title.astro'
import SITE from '@/data/SITE'

const { sections } = SITE
---

<div class="text-slate-200 h-full grid place-content-center">
  <Title class="font-black text-center"> {sections.hero.title} </Title>
  <p class="text-center leading-none text-lg md:text-2xl mb-4 uppercase">
    {sections.hero.subTitle}
  </p>
</div>
