---
// import Facebook from './icons/Facebook.astro'
// import Instagram from './icons/Instagram.astro'

interface Props {
  class?: string
  id?: string
}

const { class: customClass, ...props } = Astro.props
---

<div
  {...props}
  class:list={[
    'flex items-center text-center gap-x-8 justify-center flex-wrap uppercase font-medium',
    customClass,
  ]}
>
  <a class='hover:underline' href='#inicio'>Inicio</a>
  <a class='hover:underline' href='#mision-vision'>Misión/Visión</a>
  <a class='hover:underline' href='#servicios'>Servicios</a>
  <a class='hover:underline' href='#sello'>Nuestro Sello</a>
  <a class='hover:underline' href='#contacto'>Contacto</a>
  <!-- <div class="flex gap-4 items-center"> -->
  <!--   <a href=""><Facebook size="24" /></a> -->
  <!--   <a href="" class=""><Instagram size="30" /></a> -->
  <!-- </div> -->
</div>

<script>
  function smoothScroll(target: string) {
    const element = document.getElementById(target)
    if (element) {
      window.scrollTo({
        top: element.offsetTop,
        behavior: 'smooth',
      })
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const anchors = document.querySelectorAll('a[href^="#"]')
    anchors.forEach(function (anchor) {
      anchor.addEventListener('click', function (event) {
        event.preventDefault()
        const target = anchor.getAttribute('href')?.substring(1)
        if (!target) throw new ReferenceError('target is undefined')
        smoothScroll(target)
      })
    })
  })
</script>
