---
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
---

<nav class="flex gap-4 items-center">
  <a href=""><Facebook size="32" /></a>
  <a href=""><Instagram stroke="blue" size="40" /></a>
</nav>
