<section
  class="py-4 md:py-10 grid gap-4 md:grid-cols-2 md:gap-12 uppercase opacity-0"
>
  <p class="text-blue-900">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, dolorum
    quia. Laboriosam et quo illo?
  </p>
  <p class="neutral-100 opacity-50 text-sm md:text-base">
    Con pasión y dedicación, te ayudamos a hacer realidad tu visión y a superar
    cualquier desafío técnico o de ingeniería
  </p>
</section>
