---
import TeamCard from "./TeamCard.astro";
import Title from "@/components/Title.astro";
---

<section id="equipo" class="py-10 uppercase opacity-0">
  <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8 items-end">
    <Title h="h2" class="font-bold">Nuestro Equipo</Title>
    <p class="text-sm opacity-50 md:text-base">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eveniet.
    </p>
  </header>
  <div class="h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4">
    <TeamCard
      name="Thomas Mueler"
      alt="some people"
      src="https://www.humancapital.cl/wp-content/uploads/2017/04/team1.jpg"
    />
    <TeamCard
      name="Daniel Salasar"
      alt="some people"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRC-vgBhM-Q-qXkzUpMffAcFzS4UvNZ_d9wg&s"
    />
    <TeamCard
      name="Eduardo Franco"
      alt="some people"
      src="https://www.shutterstock.com/image-photo/smiling-african-american-office-employee-260nw-1032686038.jpg"
    />
    <TeamCard
      name="Max Alfredo"
      alt="some people"
      src="https://aboutleaders.com/wp-content/uploads/2022/01/Transformation-Leaderhip-Traits.jpg"
    />
  </div>
</section>
