---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "ID Construcciones" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-[dvh] h-full w-full">
    <slot />
  </body>
</html>
<style is:global>
  html {
    height: 100%;
    font-family: system-ui, sans-serif;
    background: #fff;
  }
</style>
